.App {
  font-family: sans-serif;
  text-align: center;
}

.Input, .Button {
  padding: 10px 15px;
  margin: 10px;
  font-size: 1.2em;
  border: solid 1px grey;
  border-radius: 4px;
}

.Button {
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.Demo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Clock.Face {
  margin: 10px auto;
  position: relative;
  width: 144px;
  height: 144px;
  border: solid 4px black;
  border-radius: 100%;
}

.Clock.Face::after {
  content: '';
  position: absolute;
  background-color: black;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}

.Clock.Hand {
  position: absolute;
  width: 6%;
  left: 47%;
  transform-origin: bottom;
  border-radius: 100%;
}

.Clock.Hand.Hour {
  background-color: red;
  height: 25%;
  top: 25%;
}

.Clock.Hand.Minute {
  background-color: violet;
  height: 35%;
  top: 15%;
}

.Clock.Hand.Second {
  background-color: orange;
  height: 45%;
  top: 5%;
}
